codxFrank.Test.Ioc/Connected Services/QueryAccountSummaryService/QueryAccountSummaryService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Microsoft.InternetBank.Domains.AccountQuery" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Microsoft.InternetBank.Domains.AccountQuery" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="AccountTotalSummary">
    <xs:sequence>
      <xs:element minOccurs="0" name="CreditCard" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="ForeignExchange" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="Fund" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="Loan" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="TaiwanDollar" nillable="true" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AccountTotalSummary" nillable="true" type="tns:AccountTotalSummary" />
</xs:schema>