codxFrank.Test.Ioc/Connected Services/QueryAccountSummaryService/QueryAccountSummaryService4.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Microsoft.InternetBank.Domains.Loan" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Microsoft.InternetBank.Domains.Loan" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfLoanAccountInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="LoanAccountInfo" nillable="true" type="tns:LoanAccountInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfLoanAccountInfo" nillable="true" type="tns:ArrayOfLoanAccountInfo" />
  <xs:complexType name="LoanAccountInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="LoanAccount" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LoanBalance" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="LoanKind" type="tns:LoanKind" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="LoanAccountInfo" nillable="true" type="tns:LoanAccountInfo" />
  <xs:simpleType name="LoanKind">
    <xs:restriction base="xs:string">
      <xs:enumeration value="None" />
      <xs:enumeration value="EnterpriseCredit" />
      <xs:enumeration value="House" />
      <xs:enumeration value="DepositReceipt" />
      <xs:enumeration value="Car" />
      <xs:enumeration value="CreditCardOwner" />
      <xs:enumeration value="Consume" />
      <xs:enumeration value="Overdraft" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="LoanKind" nillable="true" type="tns:LoanKind" />
</xs:schema>