codxFrank.Test.Ioc/Connected Services/QueryAccountSummaryService/QueryAccountSummaryService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Microsoft.InternetBank.Domains" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Microsoft.InternetBank.Domains" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="EnterpriseApplicationIntegrationError">
    <xs:sequence>
      <xs:element minOccurs="0" name="code" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="displayText" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="EnterpriseApplicationIntegrationError" nillable="true" type="tns:EnterpriseApplicationIntegrationError" />
  <xs:complexType name="ExternalSystemError">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:GeneralError">
        <xs:sequence>
          <xs:element minOccurs="0" name="SystemName" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ExternalSystemError" nillable="true" type="tns:ExternalSystemError" />
  <xs:complexType name="GeneralError">
    <xs:sequence>
      <xs:element minOccurs="0" name="OccurrenceApplication" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="displayText" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GeneralError" nillable="true" type="tns:GeneralError" />
  <xs:complexType name="ValidationError">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:GeneralError">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ValidationError" nillable="true" type="tns:ValidationError" />
  <xs:complexType name="ArrayOfAccountUsage">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="AccountUsage" nillable="true" type="tns:AccountUsage" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAccountUsage" nillable="true" type="tns:ArrayOfAccountUsage" />
  <xs:complexType name="AccountUsage">
    <xs:sequence>
      <xs:element minOccurs="0" name="AccountAlias" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AccountBalance" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="AccountNoDisplay" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AccountNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AccountState" type="tns:AccountStatus" />
      <xs:element minOccurs="0" name="AvailableBalance" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="BranchCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BranchName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CurrencyCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="HaveTransferFunction" type="xs:boolean" />
      <xs:element minOccurs="0" name="IDG" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsOmnibusAccount" type="xs:boolean" />
      <xs:element minOccurs="0" name="OnetimePassword" type="xs:boolean" />
      <xs:element minOccurs="0" name="ProductCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ProductName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TermDepositBalance" nillable="true" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AccountUsage" nillable="true" type="tns:AccountUsage" />
  <xs:simpleType name="AccountStatus">
    <xs:restriction base="xs:string">
      <xs:enumeration value="None" />
      <xs:enumeration value="Normal" />
      <xs:enumeration value="Static" />
      <xs:enumeration value="Clean" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="AccountStatus" nillable="true" type="tns:AccountStatus" />
  <xs:complexType name="QueryCreditCardSummary">
    <xs:sequence>
      <xs:element minOccurs="0" name="AvailableCredit" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="CreditFacilities" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="DueDayInThisMonth" type="xs:dateTime" />
      <xs:element minOccurs="0" name="LowestAmountPayableInThisMonth" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="Month" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RecentPaymentAmount" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="RecentPaymentCount" type="xs:int" />
      <xs:element minOccurs="0" name="RecentPaymentDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="SettlementDayInThisMonth" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Sign" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TotalAmountPayableInThisMonth" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="UnifiedNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UsedCredit" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="UsedFacilities" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="QueryCreditCardSummary" nillable="true" type="tns:QueryCreditCardSummary" />
</xs:schema>