codxFrank.Test.Ioc/Connected Services/QueryAccountSummaryService/QueryAccountSummaryService6.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://sk0341vm231190.mktb.com.tw/SKB.iBankService/QueryAccountSummaryService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Microsoft.InternetBank.Domains" />
  <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Microsoft.InternetBank.Domains" name="EnterpriseApplicationIntegrationError" nillable="true" type="q1:EnterpriseApplicationIntegrationError" />
  <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Microsoft.InternetBank.Domains" name="ExternalSystemError" nillable="true" type="q2:ExternalSystemError" />
  <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Microsoft.InternetBank.Domains" name="ValidationError" nillable="true" type="q3:ValidationError" />
  <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Microsoft.InternetBank.Domains" name="GeneralError" nillable="true" type="q4:GeneralError" />
</xs:schema>